<!DOCTYPE html> 
 
<html> 
 
<head> 
    <title>Index</title>
    <link rel="stylesheet" href="../css/index.css">
</head> 
 
<body> 

    <div class = "center"> 
        {{>header}}
        <p>Created by {{name}}</p> 
    </div>


    <form class = "button"> 
        <input placeholder="Location"> 
        <button>Search</button> 
        <p id ="m1"></p>
        <p id ="m2"></p>
    </form> 




    <script src = "../js/utils.js"></script>



</body> 
 
</html> 